/* *******HERO******* */

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-opti.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  &__container {
      margin: 0 auto;
      width: 696px;
    }
  
    &__title {
      margin-bottom: 30px;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      color: var(--primary-white-color);
      letter-spacing: 0.06em;
      text-transform: uppercase;
      text-align: center;
    }
  
    &__button {
      background-color: var(--primary-blue-color);
      color: var(--primary-white-color);
      transition: background-color var(--animation);
        &:hover,
          &:focus {
            background-color: var(--hover-button-color);
          }
    }
  
 
}

